{% extends "servicesupport/layout.html" %}

{% block body %}
{% load static %}

<script>
    function myFunction(data) {
        // Get the text field
        var Alarm_number = "Alarm"+data
        var Alarm_details = "Alarm_details"+data
        var Alarm_tips = "Alarm_tips"+data      
        console.log(Alarm_number);
        var copyText = document.getElementById(Alarm_number).innerText;
        var copyText1 = document.getElementById(Alarm_details).innerText;
        var copyText2 = document.getElementById(Alarm_tips).innerText;
        
        var all_data = copyText  +"\n"+ copyText1 + "\n"+ copyText2;
        console.log(copyText.bold());
        console.log(all_data);
        navigator.clipboard.writeText(all_data);   
    }

    function maxlenghth_alarmbytext_number() {
        var user_name = document.getElementById("alarm_text").value;
        if (user_name.length == 60) {
          alert("Alarm Text enter limit is 60 Char");
        }
    }
</script>

<br>

<div class="container" style="border-bottom: rgb(158, 158, 158) solid 1px;">
    <form method="get" action="{% url 'alarmbytext' %}"> 
    {% csrf_token %}
    <div class="row align-items-center text-center" >
        <div class="col-2">
            <h5> Alarm by Text:</h5>
        </div>
        <div class="col-3">              
            <input type="text" id="alarm_text" maxlength="60" onkeyup="maxlenghth_alarmbytext_number()" class="form-control" name="Alarm_number" onkeyup="maxlenghth_alarmbytext_number()" value="{%if User_input.alarm %}{{User_input.value}}{%endif%}"  placeholder="Alarm Text" id="Alarm_number" required>
        </div>
        <div class="col-1 align-items-center">
            <h5>Product</h5>
        </div>
        <div class="col-2">
            <select class="form-select" aria-label="Default select example" name="system" required>
                {% if User_input.system %}
                <option value="{{User_input.system}}" selected>{{User_input.system}}</option>
                {% endif %}
                <option value="all" {% if User_input.system %}{%else%}selected{% endif %}>all</option>
                {% for product in product_type %}
                <option value="{{product.system_names}}">{{product.nick_names}}</option>
                {% endfor %}
            </select>
        </div>    
        <div class="col-1" >
            <button type="submit" class="btn btn-secondary" value="OK">EXEC</button>
        </div>
        <div class="col-2">
            <div class="float-end">
                <div class="input-group input-group-sm mb-0"> 
                <h6> No. of Row:</h6></div>
            </div>
        </div>
        <div class="col-1" > 
            <div class="input-group input-group-sm mb-0">           
                <input size="2"  min="1" max="200" type="number" class="form-control" name="limit" value="{%if User_input.limit %}{{User_input.limit}}{%else%}5{%endif%}" id="limit">
            </div>
        </div>
    </div>
    </form>    
    <br>  
</div>    

<div class="container" >
{% if page_obj %}  
<br> 
    {% for result in page_obj %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col" id ="Alarm{{ forloop.counter0 }}">
                {{result.alarm_number}}  | {{result.alarm_description}} 
                </div>
                <div style="text-align: right" class="col">
                    {{result.system_type}}
                    <button onclick="myFunction('{{forloop.counter0}}');" class="button"><img src="{% static 'servicesupport/copy.png' %}" alt="copy" style="border: 0;"> </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5> -->

            <p class="card-text" id="Alarm_details{{ forloop.counter0 }}">{{result.alarm_data}}</p>
            <p class="card-text" id="Alarm_tips{{ forloop.counter0 }}">Tips : {{result.special_tips}}</p>
            <div class="card-header">
            <p class="card-text"><small>Manual : {{result.manual_name_number}}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}        
</div> 

{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&Alarm_number={{User_input.alarm}}&limit={{User_input.limit}}&system={{User_input.system}}">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&Alarm_number={{User_input.alarm}}&limit={{User_input.limit}}&system={{User_input.system}}">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_number }}&Alarm_number={{User_input.alarm}}&limit={{User_input.limit}}&system={{User_input.system}}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}&Alarm_number={{User_input.alarm}}&limit={{User_input.limit}}&system={{User_input.system}}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&Alarm_number={{User_input.alarm}}&limit={{User_input.limit}}&system={{User_input.system}}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&Alarm_number={{User_input.alarm}}&limit={{User_input.limit}}&system={{User_input.system}}">
                        Last
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% else %}
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            No Data Available - Kindly Search with No.
        </div>
    </div>
</div>
{% endif %}
{% endblock %}