{% extends "servicesupport/layout.html" %}


{% block body %}
<script>
    function updateInput(){
        var c_c= parseInt(document.getElementById("c_c").value);
        var dm= parseInt(document.getElementById("dm").value);
        var d= parseInt(document.getElementById("d").value);
        let ans = Math.sqrt((Math.pow(c_c,2))-((Math.pow(dm-d,2))/4));
        let length =  (2*c_c)+((1.57)*(dm+d))+((Math.pow((dm-d),2))/(4*c_c))
        document.getElementById("l").value = ans;
        document.getElementById("L").value = length;
    }
</script>    

<div class="container">
    <br>
    <h3>
        Belt tension Calculation based on Acoustic or Optical type meters
    </h3>
    <br>
    <div class="card">
        <div class="card-body" style="color:light">
        <h4 class="card-title">About Belt tension:</h4>
        <p class="card-text">The vibration frequency of a plucked string is dependent upon the tension of that string. As the tension is increased, the vibration frequency also increases.here is a direct relationship between belt tension and a belt’s natural frequency of vibration. This relationship holds true except for the very extreme high-tension zones (well above where any belt system can operate). For belt spans greater than 0.25m, this will provide results within 10% of the actual values.</p>
        </div>
    </div>
    <br>
    <form>
        <h4 class="card-title">Belt Tension inputs</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">C-C Distance <small class="text-muted"> (in mm)</small></th>
                <th scope="col">D Large Pulley dia <small class="text-muted"> (in mm)</small></th>
                <th scope="col">d Small Pulley dia <small class="text-muted"> (in mm)</small></th>
                <th scope="col">L Length of belt <small class="text-muted"> (in mm)</small></th>
                <th scope="col">w Weight of one belt <small class="text-muted"> (in kg)</small></th>
                <th scope="col">Number of belt</th>
                <th scope="col">Span - l<small class="text-muted"> (in mm)</small></th>
                <th scope="col">Aprox. -L<small class="text-muted"> (in mm)</small></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="number" min="0"  maxlength="30" class="form-control w-50 "  id="c_c" onchange="updateInput()"></td>
                <td><input type="number" min="0"  maxlength="30" class="form-control w-50 "  id="dm" onchange="updateInput()"></td>
                <td><input type="number" min="0"  maxlength="30" class="form-control w-50 "  id="d" onchange="updateInput()"></td>
                <td><input type="number" class="form-control w-50" style="background-color: lightgreen;"  id="l" disabled></td>
                <td><input type="number" class="form-control w-100" style="background-color: orange;"  id="L" disabled></td>
            </tr>

            </tbody>
        </table>
        <br>
        <h4 class="card-title">MASS / LENGTH CALCULATION:</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">C-C Distance <small class="text-muted"> (in mm)</small></th>
                <th scope="col">D Large Pulley dia <small class="text-muted"> (in mm)</small></th>
                <th scope="col">d Small Pulley dia <small class="text-muted"> (in mm)</small></th>
                <th scope="col">Span - l<small class="text-muted"> (in mm)</small></th>
                <th scope="col">Aprox. -L<small class="text-muted"> (in mm)</small></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="number" min="0"  maxlength="30" class="form-control w-50 "  id="c_c" onchange="updateInput()"></td>
                <td><input type="number" min="0"  maxlength="30" class="form-control w-50 "  id="dm" onchange="updateInput()"></td>
                <td><input type="number" min="0"  maxlength="30" class="form-control w-50 "  id="d" onchange="updateInput()"></td>
                <td><input type="number" class="form-control w-50" style="background-color: lightgreen;"  id="l" disabled></td>
                <td><input type="number" class="form-control w-100" style="background-color: orange;"  id="L" disabled></td>
            </tr>

            </tbody>
        </table>
    </form>  
</div>    

{% endblock %}