<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}FANUC Service{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        
        <link href=  
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" /> 
    </head>
    

    <style>
        
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        .dropdown>.dropdown-toggle:active {
            pointer-events: none;
        }

        table.table-fit {
            width: auto !important;
            table-layout: auto !important;
        }
        table.table-fit thead th, table.table-fit tfoot th {
            width: auto !important;
        }
        table.table-fit tbody td, table.table-fit tfoot td {
            width: auto !important;
        }  

        .table {
            margin: 0 auto;
            width: 80%;
        }
        
   </style>
        
    <body>
        {% load static %}
        {% if flag != 12 %}
        <div class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href=""><h2>Support |</h2> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link {% if flag == 1 %}active{% endif %}" href="{% url 'index' %}"> Home </a>
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link {% if flag == 6 %}active{% endif %}" href="{% url 'alarm' %}">Alarm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if flag == 7 %}active{% endif %}" href="{% url 'specification' %}">Specification</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if flag == 4 %}active{% endif %}" href="{% url 'training' %}">Training</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if flag == 5 %}active{% endif %}" href="{% url 'softwaretool' %}">Software Tools</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if flag == 3 %}active{% endif %}" href="{% url 'std' %}"> STD Data </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if flag == 10 %}active{% endif %}" href="{% url 'manual' %}"> Manual </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'logout' %}">Log OUT</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'login' %}">Log IN/ Register</a>
                    </li>
                </ul>
                {% endif %}

            </div>
        </nav>
        <div class="bg-secondary text-white" style="padding: 5px; border-top: grey solid 2px;;">
                <small><div style="float:left;"><!-- comment here --></div>
                    <div style="float:right;">
                        {% if user.is_authenticated %}
                            Signed in as <strong>{{ user.username|capfirst }}</strong>.
                        {% else %}
                            Not signed In.
                        {% endif %}
                    </div>
                </small>
            <div style="clear: both;"></div>       
        </div>
        </div>
        {% endif %}
       
       

        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}

        {% block body %}
        {% endblock %}
    </body>
</html>
