{% extends "servicesupport/layout.html" %}

{% block body %}
{% load static %}
<script>
    function maxlenghth_login_user() {
      var user_name = document.getElementById("username").value;
      if (user_name.length == 30) {
        alert("UserName limit is 30 Char");
      }
    }
    function maxleghth_login_pass() {
      var user_name = document.getElementById("password").value;
      if (user_name.length == 20) {
        alert("Password limit is 20 Char");
      }
    }
    function show_password(ID) {
      let x = document.getElementById(ID);
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="row">
                    <div class="col">
                        <div class="text-center my-5">
                            <img src="{% static 'servicesupport/oneFanuc.png' %}" alt="logo" width="150">
                        </div>
                    </div>
                    <div class="col">    
                        <div class="text-center my-5">
                            <img src="{% static 'servicesupport/Service First Logo.png' %}" alt="logo" width="200">
                        </div>
                    </div>
                </div>        
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">User Name</label>
                                <input id="username" type="text" maxlength = "30" name="username" class="form-control" id="username" value="" onkeyup='maxlenghth_login_user()' required autofocus>
                                <div class="invalid-feedback">
                                    UserName is invalid
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted"  maxlength = "20" for="password">Password</label>
                                    <a href="{% url 'lostpassword' %}" class="float-end">
                                        Forgot Password?
                                    </a>
                                </div>
                                    <div class="input-group mb-3">
                                        <input type="password"  maxlength = "50" name="password" class="form-control" onkeyup="maxleghth_login_pass()" id="password" aria-describedby="button-addon2" required >
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="show_password('password')"><img src="{% static 'servicesupport/eye.svg' %}"></button>
                                        </div>    
                                    </div>
                            </div>

                            <div class="d-flex align-items-center">
                            <!-- 
                                <div class="form-check">
                                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                    <label for="remember" class="form-check-label">Remember Me</label>
                                </div>
                            -->
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Don't have an account? - Contact IT support <!--<a href="{% url 'register' %}" class="text-dark">Create One</a>-->
                        </div>
                        <div class="text-center">
                            Go to Home Page <a href="{% url 'index' %}" class="text-dark">link</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2023 &mdash; ServiceSupport
                </div>
            </div>
        </div>
    </div>
</section>   
{% endblock %}