{% extends "servicesupport/layout.html" %}

{% block body %}
{% load static %}

<script>
    function maxlenghth_login_user() {
      var user_name = document.getElementById("username").value;
      if (user_name.length == 50) {
        alert("UserName limit is 50 Char");
      }
    }
    function maxleghth_login_pass() {
      var user_name = document.getElementById("email").value;
      if (user_name.length == 50) {
        alert("Password limit is 20 Char");
      }
    }
</script>

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="row">
                    <div class="col">
                        <div class="text-center my-5">
                            <img src="{% static 'servicesupport/oneFanuc.png' %}" alt="logo" width="150">
                        </div>
                    </div>
                    <div class="col">    
                        <div class="text-center my-5">
                            <img src="{% static 'servicesupport/Service First Logo.png' %}" alt="logo" width="200">
                        </div>
                    </div>
                </div>        
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Forgot Password</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off" action="{% url 'lostpassword' %}" method="post">
                            {% csrf_token %}
                            

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">Email</label>
                                <input id="username" type="text" maxlength = "50" name="email" class="form-control" id="email" value="" onkeyup='maxlenghth_login_user()' required autofocus>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                            <!-- 
                                <div class="form-check">
                                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                    <label for="remember" class="form-check-label">Remember Me</label>
                                </div>
                            -->
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Go to  <b>Home Page</b> <a href="{% url 'index' %}" class="text-dark">link</a>
                        </div>
                        <div class="text-center">
                            Go to <b>login Page</b> <a href="{% url 'login' %}" class="text-dark">link</a>
                        </div>
                        <br>
                        <div class="text-center text-muted">
                            if you not getting Mail Kindly Contact IT Support team
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2023 &mdash; ServiceSupport
                </div>
            </div>
        </div>
    </div>
</section> 
<!--
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Forgot Password </h1>
        <p class="fs-3"> Kindly contact Admin</p>
        <p class="lead">
            -mayank.limbachiya@fanucindia.com
        </p>
        <div class="text-muted"><a class="nav-link" href="{% url 'login' %}">Back to Login</a><div>
        <div class="text-muted"><a class="nav-link" href="{% url 'index' %}">Back to Index</a><div></div>
        <a href="{% url 'index' %}" class="btn btn-primary">Go Home</a>
    </div>
</div>
-->
{% endblock %} 