{% extends "servicesupport/layout.html" %}

{% block body %}
{% load static %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Forgot Password </h1>
        <p class="fs-3"> Kindly contact Admin</p>
        <p class="lead">
            -mayank.limbachiya@fanucindia.com
        </p>
        <div class="text-muted"><a class="nav-link" href="{% url 'login' %}">Back to Login</a><div>
        <div class="text-muted"><a class="nav-link" href="{% url 'index' %}">Back to Index</a><div></div>
        <!--<a href="{% url 'index' %}" class="btn btn-primary">Go Home</a>-->
    </div>
</div>
{% endblock %} 