{% extends "servicesupport/layout.html" %}

{% block body %}
{% load static %}
   

<div class=" container">
    <br>
    <h3>
        WN69 I/O Link i DO ALARM 
        <small class="text-muted">(CHn Gxx Syy zz : PMCm Ybbb = **H )</small>
    </h3>
    <br>
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">About Alarm:</h4>
        <p class="card-text">This message indicates that the DO alarm occurs at "zz" byte of slot "yy" of group "xx" in channel "n", Y "bbbb" address of P MC path "m". The "**H" shows some bits at which the alarm occurs by hexadecimal. See the descriptions of each unit in this section for the correspondence between "zz"byte of slot "yy" in that message and where alarm occurs in each unit.</p>                        
        <p>In addition, information of status alarm including DO alarms is also output to the system relay area. For details of the system relay area, refer to the FANUC Series 0i-MODEL F CONNECTION MANUAL (HARDWARE) (B-64603EN).</p>
        </div>
    </div>
    <br>
    <h4 class="card-title">Input:</h4> 
    <br>
    <h6>Alarm Enter:</h6> 
    <div class="d-flex justify-content-around">
    <div class="table-responsive">    

    <script>
        function updateInput(data){
            var k= document.getElementById(data).value;
            if (data == "n"){
                document.getElementById("n_o").innerText =k;
            }else if (data=="xx"){
                document.getElementById("xx_o").innerText=k;
            }else if (data=="m"){
                document.getElementById("m_o").innerText=k;
            }
            else if (data=="hexs"){
                let y = ("00000000"+((parseInt(k, 16)).toString(2))).slice(-8)
                let num = y.split("").reverse().join("");
                var bbb = document.getElementById("bbb").value;
                if (bbb != null ){
                    document.getElementById("bbb_o").innerText = ""
                    for (var i = 0 ; i < num.length; i++) {
                        var k = num.charAt(i);
                        var j = document.getElementById("bbb_o").innerText; 
                        var l = (j + "  " + "Y"+ bbb +"." + i); 
                        if (k == "1")
                        { document.getElementById("bbb_o").innerText = l;}
                }
                var option_data2 = document.getElementById("option").value
                if (option_data2 == 1){
                    document.getElementById("bbb_o").innerText ="Check bits Not Available in this module."
                }
                }
            }    
            else if (data=="bbb"){
                let value_hex = document.getElementById("hexs").value
                let y = ("00000000"+((parseInt(value_hex, 16)).toString(2))).slice(-8)
                let num = y.split("").reverse().join("");
                var bbb = document.getElementById("bbb").value;
                if (bbb != "" ){
                    document.getElementById("bbb_o").innerText = ""
                    for (var i = 0 ; i < num.length; i++) {
                        var k = num.charAt(i);
                        var j = document.getElementById("bbb_o").innerText; 
                        var l = (j + "  " + "Y"+ bbb +"." + i); 
                        if (k == "1")
                        { document.getElementById("bbb_o").innerText = l;}
                    }
                    var option_data1 = document.getElementById("option").value
                    if (option_data1 == 1){
                    document.getElementById("bbb_o").innerText ="Check bits Not Available in this module."
                }
                }
                else {
                    alert("Enter BBB value")
                }
            }
            else if (data == "yy")
            {
                gotoCheck()
            }
            else if (data == "zz")
            {
                gotoCheck()
            }
            else if (data == "option"){
                gotoCheck()
                updateInput("hexs")
            }
        } 
        function gotoCheck(){
            var option_data = document.getElementById("option").value;
            var yy_data = document.getElementById("yy").value;
            var zz_data = document.getElementById("zz").value;
            if (option_data == 1 || option_data == 5 ){
                if (option_data ==1){
                    document.getElementById("bbb_o").innerText ="Not Available in this module."
                }
                if (yy_data == 1 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte of Basic module";
                }
                else if (yy_data == 1 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte of Basic module";
                }
                else if (yy_data == 2 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte of Extension module-1";
                }
                else if (yy_data == 2 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte of Extension module-1";
                }
                else if (yy_data == 3 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte of Extension module-2";
                }
                else if (yy_data == 3 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte of Extension module-2";
                }
                else if (yy_data == 4 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte of Extension module-3";
                }
                else if (yy_data == 4 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte of Extension module-3";
                }
                else{document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";}
            }
            else if (option_data == 2 || option_data =="7A" || option_data==10){
                if (yy_data == 1 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte"; 
                }
                else if (yy_data == 1 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte";
                }
                else if (yy_data == 1 && zz_data ==2){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 2nd byte";
                }
                else if (yy_data == 1 && zz_data ==3){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 3rd byte";
                }
                else if (yy_data == 1 && zz_data ==4){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 4th byte";
                }
                else if (yy_data == 1 && zz_data ==5){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 5th byte";
                }
                else if (yy_data == 1 && zz_data ==6){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 6th byte";
                }
                else if (yy_data == 1 && zz_data ==7 && option_data == "7A"){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 7th byte";    
                }
                else if (yy_data == 1 && zz_data ==7 && option_data == 10){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 7th byte";    
                }
                else{document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";}
            } 
            else if (option_data == 3){
                if (yy_data == 1 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte"; 
                }
                else if (yy_data == 1 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte";
                }
                else if (yy_data == 1 && zz_data ==2){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 2nd byte";
                }
                else if (yy_data == 1 && zz_data ==3){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 3rd byte";
                }
                else{document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";}
            }      
            else if (option_data == 4 || option_data == "7B"){
                if (yy_data == 1 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte of Basic module"; 
                }
                else if (yy_data == 1 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte of Basic module";
                }
                else if (yy_data == 1 && zz_data ==2){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 2nd byte of Basic module";
                }
                else if (yy_data == 1 && zz_data ==3){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 3rd byte of Basic module";
                }
                else if (yy_data == 2 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte of Extension module"; 
                }
                else if (yy_data == 2 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte of Extension module";
                }
                else if (yy_data == 2 && zz_data ==2){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 2nd byte of Extension module";
                }
                else if (yy_data == 2 && zz_data ==3){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 3rd byte of Extension module";
                }
                else{document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";}
            }  
            else if (option_data == 6){
                if (yy_data == 1 && zz_data ==5){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 5th byte"; 
                }
                else if (yy_data == 1 && zz_data ==6){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 6th byte";
                }
                else{document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";}
            }   
            else if (option_data == 8 || option_data==9){
                if (yy_data == 1 && zz_data ==0){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 0th byte in PMC / DCS_PMC"; 
                }
                else if (yy_data == 1 && zz_data ==1){
                    document.getElementById("location_o").innerText ="DO alarm occurs at 1st byte in PMC / DCS_PMC";
                }
                else{document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";}
            }  
            else{
                document.getElementById("location_o").innerText ="Enter Correct alarm details or select correct module.";
            }

        }    
    </script>    
    <div class="table-responsive">
        <table class="table table-borderless" style="width: auto; height: 10%; text-align: center;">
            <tr>
                <td></td>
                <td></td>
                <td class="table-warning">n</td>
                <td></td>
                <td class="table-warning">xx</td>
                <td></td>
                <td class="table-warning">yy</td>
                <td class="table-warning">zz</td>
                <td></td>
                <td class="table-warning">m</td>
                <td></td>
                <td class="table-warning">bbb</td>
                <td></td>
                <td class="table-warning">**</td>
                <td></td>
            </tr>
            <tr>
                <td style="border: 2px solid whitesmoke">WN69 I/O Link I DO ALARM</td>
                <td class="table-primary">CH(</td>
                <td><input type="number" style="width: 40px;" id="n" onchange="updateInput('n');"></td>
                <td class="table-primary">G</td>
                <td><input type="number" style="width: 50px;" id="xx" onchange="updateInput('xx');"></td>
                <td class="table-primary">S</td>
                <td><input type="number" style="width: 50px;" id="yy" value="1" onchange="updateInput('yy');"></td>
                <td><input type="number" style="width: 50px;" id="zz" value="0" onchange="updateInput('zz');"></td>
                <td class="table-primary">:PMC</td>
                <td><input type="number" style="width: 40px;" id="m" onchange="updateInput('m');"></td>
                <td class="table-primary">Y</td>
                <td><input type="number" style="width: 60px;" id="bbb" onchange="updateInput('bbb');"></td>
                <td class="table-primary">=</td>
                <td><input type="text" style="width: 60px;" id="hexs" onchange="updateInput('hexs');"></td>
                <td class="table-primary">H)</td>
            </tr>     
        </table>
    </div>
    </div>
    </div> 
    <br>
    <h6>Select Module:</h6>
    
    <div class="row" style="max-width: 500px;">
        <div class="col">
            <select class="form-select" area-label="Default select example" id ="option" onchange="updateInput('option');"> 
                <option>Select I/O card</option>  
                <option value="1">1. I/0 Module for Connector Panel </option>
                <option value="2">2. I/0 Module for Operator's Panel (Supporting Matrix input)</option> 
                <option value="3">3. Connection of I/0 Module for Operator's Panel and I/0 Module for Power Magnetics Cabinet </option>
                <option value="4">4. I/0 Module Type-2 for Connector Panel </option>
                <option value="5">5. Terminal Type I/0 Module </option>
                <option value="6">6. Machine Operator's Panel </option>
                <option value="7A">7A. Operator's Panel Connection Unit </option>
                <option value="7B">7B. Operator's Panel Connection Unit </option>
                <option value="8">8. Safety I/0 unit </option>
                <option value="9">9. I/0 module for operator's panel supporting safety function </option>
                <option value="10">10. I/0 Unit for Power Magnetics Cabinet </option>
            </select>
        </div>    
    </div>
    <br>
    <h4 class="card-title">Output:</h4>
    <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Channel:(n) </th>
            <th scope="col">Group:(xx)</th>
            <th scope="col">Path:(m)</th>
            <th scope="col">Check Bits:(bbb)</th>
            <th scope="col">fault location at:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td id="n_o">_</td>
            <td id="xx_o">_</td>
            <td id="m_o">_</td>
            <td id="bbb_o">_</td>
            <td id="location_o">_</td>
          </tr>
        </tbody>
      </table>
      </div>

    <br>  
    <h4>Details of module:</h4>  
 

    <br>
</div>
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">1. I/0 Module for Connector Panel </th>
              <th scope="col">2. I/0 Module for Operator's Panel (Support Matrix input)</th>
              <th scope="col">3. I/0 Module for Operator's Panel and Power Magnetics Cabinet</th>
              <th scope="col">4. I/0 Module Type-2 for Connector Panel </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center"><img src="{% static 'servicesupport/WN69/1(2).png' %}" width="100" height="100"></th>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/2(2).png' %}" width="100" height="100"></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/3(2).png' %}" width="100" height="100"></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/4(2).png' %}" width="100" height="100"></td>
            </tr>
            <tr>
                <th class="text-center"><img src="{% static 'servicesupport/WN69/1(1).jpeg' %}" width="100" height="100"></th>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/2(1).png' %}" width="100" height="100"></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/3(1).png' %}" width="100" height="100"></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/4(1).png' %}" width="100" height="100"></td>
            </tr>
        </tbody>
        <thead>   
            <tr>
                <th scope="col">5. Terminal Type I/0 Module</th>
                <th scope="col">6. Machine Operator's Panel (back side)</th>
                <th scope="col">7. Operator's Panel Connection Unit (A , B Included)</th>
                <th scope="col">8. Safety I/0 unit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center"><img src="{% static 'servicesupport/WN69/5(2).png' %}" width="100" height="100"></th>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/6(2).png' %}" width="200" height="100"></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/7(1).png' %}" width="200" height="100"></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/8(2).png' %}" width="100" height="100"></td>
            </tr>
            <tr>
                <th class="text-center"><img src="{% static 'servicesupport/WN69/5(1).png' %}" width="100" height="100"></th>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/6(1).png' %}" width="200" height="100"></td>
                <td></td>
                <td class="text-center"><img src="{% static 'servicesupport/WN69/8(1).png' %}" width="100" height="100"></td>
            </tr> 
        </tbody>
        <thead>   
            <tr>
                <th scope="col" colspan="2">9. I/0 module for operator's panel supporting safety function</th>
                <th scope="col" colspan="2">10. I/0 Unit for Power Magnetics Cabinet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center" colspan="2"><img src="{% static 'servicesupport/WN69/9(2).png' %}" width="200" height="100"></th>
                <td class="text-center" colspan="2"><img src="{% static 'servicesupport/WN69/10(2).png' %}" width="200" height="100"></td>
            </tr>
            <tr>
                <th class="text-center" colspan="2"><img src="{% static 'servicesupport/WN69/9(1).png' %}" width="200" height="100"></th>
                <td class="text-center" colspan="2"><img src="{% static 'servicesupport/WN69/10(1).png' %}" width="200" height="100"></td>
            </tr> 
        </tbody>
    </table>
    </div>
<br>
    <div class="container">
    <iframe src="{% static 'servicesupport/WN69/MANUAL.pdf' %}" width="100%" height="700px"></iframe>

</div>
{% endblock %} 